@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #profile {
    margin-top: 10vh;
  }
  .section_pic-container {
    margin-left: 20vw;
  }
  #mobile-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 1rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    /* Fixed the typo here */
    width: 275px;
    height: 275px;
    margin: 1rem auto;
  }
  .about-container {
    margin-top: 0;
  }
  .about-container,
  .contact-info-upper-container,
  .btn-container,
  .experience-details-container {
    flex-wrap: wrap;
  }
  .about-pic {
    position: relative;
    left: -50px;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-container,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-subtitle {
    /* Fixed the typo here */
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section_pic-container {
    /* Fixed the typo here */
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section_text_p2 {
    /* Fixed the typo here */
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .about-pic {
    position: relative;
    left: 10px;
  }
}
